body {
    font-family: Arial, sans-serif;
}

#file-list p {
    margin: 0;
    padding: 5px;
}

#file-list p:hover {
    background-color: #f0f0f0;
}

.folder-icon:before {
    content: '\1F4C1'; /* Unicode for a folder icon */
    margin-right: 5px;
}

.file-icon:before {
    content: '\1F4C4'; /* Unicode for a file icon */
    margin-right: 5px;
}

#breadcrumb {
    margin-bottom: 20px;
}

#breadcrumb span {
    color: #007BFF;
    text-decoration: underline;
}

#breadcrumb span:hover {
    cursor: pointer;
    color: #0056b3;
}

#rootBtn {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rootBtn:hover {
    background-color: #0056b3;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#file-viewer {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    color: #333;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
	height: calc(100vh - 150px);
    overflow-y: auto;
	min-width: 95%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#top-bar {
    display: flex;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: 10px; /* Add this line */
}
